<h5>Szűrés:</h5>
<div class="row pb-5">
  <div class="col-4">
    <select [(ngModel)]="filterKey" class="form-control">
      <option value="">Összes termék</option>
      <option *ngFor='let key of keys' [value]="key">{{ key | titlecase }}</option>
    </select>
  </div>
  <div class="col-8">
    <input [(ngModel)]="phrase" type="text" class="form-control" placeholder="Keresés...">
  </div>
</div>

<div class="row pb-5">
  <div class="col-12 d-flex flex-sm-row flex-column">
    <h5>Rendezés</h5>
    <div class="d-flex flex-row">
      <p class="sorterlink ml-sm-4 mr-2">Ár</p>
      <p class="sorterlink mr-3"><i class="fa fa-caret-up h2" (click)="onSorterSelect('price')"></i></p>
      <p class="sorterlink mr-5"><i class="fa fa-caret-down h2" (click)="onBackSorterSelect('price')"></i></p>
    </div>
    <div class="d-flex flex-row">
      <p class="sorterlink mr-2">Név</p>
      <p class="sorterlink mr-3"><i class="fa fa-caret-up h2" (click)="onSorterSelect('name')"></i></p>
      <p class="sorterlink mr-5"><i class="fa fa-caret-down h2" (click)="onBackSorterSelect('name')"></i></p>
    </div>
    <div class="d-flex flex-row">
      <p class="sorterlink mr-2">Kiemelt</p>
      <p class="sorterlink mr-3"><i class="fa fa-caret-up h2" (click)="onSorterSelect('featured')"></i></p>
      <p class="sorterlink mr-5"><i class="fa fa-caret-down h2" (click)="onBackSorterSelect('featured')"></i></p>
    </div>
  </div>
</div>

<div class="col-12 d-flex flex-row flex-wrap justify-content-center m-0 p-0">
  <app-product-card [product]="product"
    *ngFor="let product of categoryProducts | filter:phrase:filterKey | sorter:sorterKey:direction " class="mb-2">
  </app-product-card>
</div>
