$text-color: #ffffff;
$link-active-color: #222222;
$link-color: #ffd359;
$smooth-color: #dfc0cf;
$border-button-background-color: #fdcc52;
$discover-color: #222423;
$heart-color: #dc3545;
$unlimited-color: #6c757d;
$footer-background-color: #222222;
$layer-background-color: rgba(0, 0, 0, 0.6);
$footer-links-color: #606060;
$iconify-color: #a5356d;
$card-title-color: #222629;
$card-text-color: #6e757b;
$section-background-color: #fec63d;
$header-background-color-from: #da2431;
$header-background-color-to: #7d4397;
$facebook-background-color: rgba(59, 89, 153, 0.9);
$twitter-background-color: rgba(29, 161, 243, 0.9);
$google-background-color: rgba(221, 76, 57, 0.9);