@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url("https://use.typekit.net/rtt4wer.css");

$catamaran: "Catamaran:wght@100",
Helvetica,
Arial,
sans-serif;
$lato: "Lato:wght@300",
Helvetica,
Arial,
sans-serif;
$muli: Muli,
Helvetica,
Arial,
sans-serif;