<div class="card" *ngIf="player">
  <div class="card-header card-header-danger">
    <h2 class="ml-md-3 text-center text-md-left">A játék adatai</h2>
    <hr *ngIf="player.round > 10">
    <h1 *ngIf="player.round > 10" class="text-center">Véget ért a játék!</h1>
    <h1 *ngIf="player.round > 10" class="text-center">Összesen {{ player.end_score | customNumber }} pontot gyűjtöttél
    </h1>
    <h1 *ngIf="player.round > 10 && player.end_score >= player.start_score * 2 " class="text-center">Gratulálok!</h1>
  </div>
  <div class="card-body col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 d-flex flex-md-row flex-column">
    <div class="col-md-8 d-flex flex-row flex-wrap">
      <div class="col-6 col-md-8 text-right">
        <h3 class="font-weight-bold"> Játékos:</h3>
      </div>
      <div class="col-6 col-md-4">
        <h3> {{ player.name }}</h3>
      </div>
      <div class="col-6 col-md-8 text-right">
        <h3 class="font-weight-bold"> Szint: </h3>
      </div>
      <div class="col-6 col-md-4">
        <h3>{{ huntextService.levelnames[player.gamelevel-1] }}</h3>
      </div>
      <div class="col-6 col-md-8 text-right">
        <h3 class="font-weight-bold"> Kör:</h3>
      </div>
      <div class="col-6 col-md-4">
        <h3 *ngIf="player.round <= player.allOfRound"> {{ player.round }} / {{ player.allOfRound }}</h3>
        <h3 *ngIf="player.round > player.allOfRound"> {{ player.allOfRound }} / {{ player.allOfRound }}</h3>
      </div>
      <div class="col-6 col-md-8 text-right">
        <h3 class="font-weight-bold"> Kezdő pont:</h3>
      </div>
      <div class="col-6 col-md-4">
        <h3> {{ player.start_score | customNumber}} pont</h3>
      </div>
    </div>
    <div class="col-md-4 mt-5 d-flex justify-content-center flex-column">
      <div class="card-header card-header-rose pb-1">
        <h4 *ngIf="player.round <= 10" class="text-center">Jelenlegi egyenleg</h4>
        <h4 *ngIf="player.round > 10" class="text-center">Végső egyenleg</h4>
      </div>
      <div class="card-body text-center">
        <h1 *ngIf="player.end_score == 0">{{ player.start_score | customNumber }} pont</h1>
        <h1 *ngIf="player.end_score != 0">{{ player.end_score | customNumber }} pont</h1>
      </div>
    </div>
  </div>
</div>
