<div class="col-lg-6 offset-lg-3">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="col-lg-6 offset-lg-3 mt-3">
  <div class="card text-center">
    <div class="card-header card-header-danger">
      <h1>Azonnal elindul a játék</h1>
    </div>
    <ul class="list-group list-group-flush mb-5">
      <li @fadeAnimation *ngIf="timer >= 1" class="h3 list-group-item font-weight-bold m-0">{{ round }}. kör</li>
      <li @fadeAnimation *ngIf="timer >= 2" class="h3 list-group-item m-0">Témakör: <span class="font-weight-bold">{{
          hunCategory }}</span></li>
      <li @fadeAnimation *ngIf="timer >= 3" class="h4 list-group-item m-0">Szint: <span class="font-weight-bold">{{
          questionlevel }}</span>
      </li>
      <li @fadeAnimation *ngIf="timer >= 4" class="h4 list-group-item m-0">Kérdések száma: <span
          class="font-weight-bold">5</span></li>
      <li @fadeAnimation *ngIf="timer >= 5" class="h4 list-group-item m-0">Jelenlegi egyenleged: <span
          class="font-weight-bold">{{
          startScore | customNumber }}
          pont</span>
      </li>
      <li @fadeAnimation *ngIf="timer >= 6" class="h4 list-group-item m-0">Feltett pontok: <span
          class="font-weight-bold">{{
          betSize | customNumber }}
          pont</span></li>
      <div class="d-flex flex-lg-row flex-column justify-content-center">
        <li @fadeAnimation *ngIf="timer >= 7" class="col-2 list-group-item mr-0 pr-0 text-right"><span
            class="material-icons icon text-success">done</span>
        </li>
        <li @fadeAnimation *ngIf="timer >= 7"
          class="col-lg-4 h4 list-group-item mt-0 mt-lg-4 ml-lg-0 pl-lg-0 text-lg-left text-center">
          Ha nyersz:<br>
          <span class="font-weight-bold">{{ win | customNumber
            }}
            pont</span>
        </li>
        <li @fadeAnimation *ngIf="timer >= 8" class="col-2 list-group-item mr-0 pr-0 text-right"><span
            class="material-icons icon text-danger">dangerous</span>
        </li>
        <li @fadeAnimation *ngIf="timer >= 8"
          class="col-lg-4 h4 list-group-item mt-0 mt-lg-4 ml-lg-0 pl-lg-0 text-lg-left text-center">
          Ha veszítesz:<br>
          <span class="font-weight-bold">{{
            lose | customNumber }}
            pont</span>
        </li>
      </div>
      <li @fadeAnimation *ngIf="timer >= 9 && bonus" class="h4 list-group-item m-0">Ha minden kérdésre jól válaszolsz
        <span class="font-weight-bold">+{{
          bonus
          }} pontot</span> kaphatsz.
      </li>
    </ul>
  </div>
</div>
