@use "variables/variables";

.border__button {
  color: variables.$text-color;
  padding: 1rem 3.5rem;
  transition: all 0.3s ease-in-out;
  border: 1px solid variables.$text-color;
  border-radius: 50rem;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: variables.$border-button-background-color;
    border-color: variables.$border-button-background-color;
    color: variables.$text-color;
    text-decoration: none;
  }
}