<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <h2>Köszöntelek az oldalon!</h2>
      <h5>
        Fedezd fel kedvező ajánlatainkat, válogass széles termékkínálatunkból!
      </h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="home-title mb-3">Kiemelt termékek</h1>
      <app-product-pager [featuredProducts]="featuredList"></app-product-pager>
    </div>
  </div>
</div>

<hr class="hr">

<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h1 class="home-title mb-3">Akciós termékek</h1>
      <app-product-pager [featuredProducts]="discountList"></app-product-pager>
    </div>
  </div>
</div>
