mat-expansion-panel-header {
  pointer-events: auto;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-panel-description {

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.charttext {
  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }
}
