.timer {
  width: 3rem;
}

.material-icons {
  font-size: 2rem;
}

.correct {
  border: 4px solid black;
  opacity: 1;

  &:hover {
    border: 4px solid black !important
  }
}

.question, .resulttext {

  @media screen and (max-width: 760px) {
    font-size: 1.3rem;
  }
}
