<div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
  <h1 class="text-center">Üdvözöllek a QIUZ GAME nevű játékban!</h1>
  <div>
    <img src="../../../assets/img/quiz.png" alt="qiuz" class="col-4 offset-4">
  </div>
  <div class="card text-center mb-4">
    <div class=" card-header card-header-danger">
      <h1>Játékszabály</h1>
    </div>
    <div class="card-body col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
      <div class="border border-dark rounded">
        <h4 class="m-2">A <span class="font-weight-bold">QIUZ GAME</span> egy olyan kvíz játék, ahol előre meghatározott
          témakörökben lehet <span class="font-weight-bold">könnyű</span>, <span class="font-weight-bold">közepes</span>
          vagy <span class="font-weight-bold">nehéz</span>
          kérdéseket kapni.</h4>
        <div class="my-3">
          <img src="../../../assets/img/card.PNG" alt="card">
        </div>
        <h4 class="mx-2">Minden szinten <span class="font-weight-bold">5 kérdésre</span> kell válaszolni, és <span
            class="font-weight-bold">akkor nyertél, ha legalább
            4 kérdésre helyesen válaszoltál</span>.</h4>
        <h4 class="mx-2">Az egészben a csavar az, hogy <span class="font-weight-bold">minden egyes körben az addigi
            pontjaidból
            feltehetsz egy általad meghatározott
            összeget</span>.</h4>
        <h4 class="mx-2">Ha nyersz, vagyis 4-nél több kérdésre válaszoltál helyesen, akkor megkapod a feltett pontokat
          az adott
          szinthez tartozó szorzóval megszorozva.</h4>
        <ul class="col-6 offset-3 list-group border border-default rounded">
          <li class="list-group-item font-weight-bold">Könnyű szint - 2x szorzó</li>
          <li class="list-group-item font-weight-bold">Közepes szint - 3x szorzó</li>
          <li class="list-group-item font-weight-bold">Nehéz szint - 5x szorzó</li>
        </ul>
        <h4 class="mx-2 mt-3">Ha vesztesz, akkor elveszíted a feltett pontokat, de csak egyszer.</h4>
      </div>
      <div class="border border-dark rounded mt-3">
        <h2 class="mt-2">Alapbeállítások</h2>
        <h3 class="mt-4"><u>Nehézségi szintek</u></h3>
        <p class="mx-2">Maga a játék háromszinten játszható.</p>
        <p class="mx-2">Minden játék elején beállíthatod, hogy milyen nehézségű játékmódban szeretnél játszani. Ennek
          alapján
          változik
          az a pont, amivel kezded a játékot.</p>
        <div class="my-3">
          <img src="../../../assets/img/level.PNG" alt="level" class="img-thumbnail">
        </div>
        <p class="mx-2">A nehézség tehát át, hogy kevesebb pontból tudsz gazdálkodni, ha Közepes vagy Nehéz szinten
          játszol.</p>
        <h3 class="mt-4"><u>Témakörök</u></h3>
        <p class="mx-2">Egy játékban összesen 6 témakör lehet.</p>
        <p class="mx-2">Minden játék elején választhatsz, hogy random témakörökkel szeretnél-e játszani, vagy inkább te
          választod ki.
        </p>
        <div class="my-3">
          <img src="../../../assets/img/categories.PNG" alt="categories" class="img-thumbnail">
        </div>
        <p class="mx-2">A témakör neve utáni szám azt jelöli, hogy az adott témakörrel hánykört lehet játszani.</p>
        <ul class="col-10 offset-1 list-group border border-default rounded">
          <li class="list-group-item font-weight-bold">(3) - Mindhárom szintből vannak kérdések</li>
          <li class="list-group-item font-weight-bold">(2) vagy (1) - Nincs mindhárom szintből már kérdés</li>
          <li class="list-group-item font-weight-bold">(0) - Elfogytak az adott témakörhöz tartozó kérdések</li>
        </ul>
        <h3 class="mt-4"><u>Körök száma</u></h3>
        <p class="mx-2">Minden játék elején kiválaszthatod, hogy hány kört szeretnél játszani.</p>
        <p class="mx-2">Minimum 10 kört játszani kell.</p>
        <p class="mx-2">Ennél többet csak akkor tudsz játszani, ha van az adatbázisban elég kérdés hozzá.</p>
        <p class="mx-2">Maximum 18 kört válaszhatsz, ha van hozzá elég kérdés.</p>
        <div class="my-3">
          <img src="../../../assets/img/round.png" alt="round" class="img-thumbnail">
        </div>
      </div>
      <div class="border border-dark rounded mt-3">
        <h2 class="mt-2">A játék célja</h2>
        <p class="mx-2">A játék akkor volt sikeres, ha a kezdő pontegyenleget az utolsó kör végére legalább
          megdupláztad.</p>
        <p class="mx-2">Ezenkívül az egyes szinteken különböző célokat tűzhetsz ki magadnak.</p>
        <p class="mx-2">Például:</p>
        <ul class="col-10 offset-1 list-group border border-default rounded my-3">
          <li class="list-group-item font-weight-bold">Könnyű - A végén legalább 25 000 pontod legyen</li>
          <li class="list-group-item font-weight-bold">Közepes - A végén legalább 16 000 pontod legyen</li>
          <li class="list-group-item font-weight-bold">Nehéz - A végén legalább 10 000 pontod legyen</li>
        </ul>
        <p class="mx-2">Ezek már igazán nehéz küldetések. A lényeg az, hogy arra törekedj, hogy minél több pontot gyűjts
          össze a
          játék végére.</p>
        <p class="mx-2"><span class="font-weight-bold">Sok sikert!</span></p>
        <p class="mx-2">A játék végén a legtöbb pontot szerző játékosok felkerülnek a <span
            class="text-success">Toplistára</span>, amit a menüből
          érhetsz el.
        </p>
        <div class="my-3">
          <img src="../../../assets/img/toplist.PNG" alt="start" class="img-thumbnail">
        </div>
      </div>
      <div class="border border-dark rounded mt-3">
        <h2 class="mt-2">Első lépések</h2>
        <ol>
          <li class="text-left">Kattints az <span class="text-success">Új játék</span> menüpontra</li>
          <li class="text-left">Válassz magadnak egy játékos nevet</li>
          <li class="text-left">Válaszd, hogy milyen témakörökben szeretnél kérdéseket kapni</li>
          <li class="text-left">Válaszd, hogy milyen nehézségi szinten szeretnéd játszani a játékot</li>
          <li class="text-left">Válaszd, hogy hány kört szeretnél játszani</li>
        </ol>
        <div class="my-3">
          <img src="../../../assets/img/start.PNG" alt="start" class="img-thumbnail">
        </div>
      </div>
      <div class="border border-dark rounded mt-3">
        <h2 class="mt-2">További tudnivalók</h2>
        <p class="mx-2">A játékot bármikor újra kezdheted az <span class="text-success">Új játék</span> menüpontra
          kattintva.</p>
        <p class="mx-2">Fontos, hogy ilyenkor minden korábban megszerzett pont és adat elveszik.</p>
        <p class="mx-2">Ha egy témakörben egy adott szintű kérdéscsomaggal már játszottál, akkor azt már nem
          választhatod újra.</p>
        <p class="mx-2">A játék közben van lehetőséged arra, hogy grafikonon megnézhesd az eddig szerzett pontjaid
          alakulását.</p>
        <div class="my-3">
          <img src="../../../assets/img/chart.PNG" alt="start" class="img-thumbnail">
        </div>
      </div>
    </div>
  </div>
