<app-game-data @fadeAnimation></app-game-data>
<div class="col-12 col-lg-8 offset-lg-2">
  <app-charts></app-charts>
</div>
<div class="spinner d-flex justify-content-center" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div @fadeAnimation class="col-12 d-flex flex-column flex-md-row flex-md-wrap justify-content-center"
  *ngIf="categories">
  <div class="col-md-6 col-xl-4" *ngFor="let category of categories" [ngSwitch]="category.name">
    <div class="col-12" *ngSwitchCase="'disney'">
      <app-disney-card></app-disney-card>
    </div>
    <div class="col-12" *ngSwitchCase="'flag'">
      <app-flag-card></app-flag-card>
    </div>
    <div class="col-12" *ngSwitchCase="'football'">
      <app-football-card></app-football-card>
    </div>
    <div class="col-12" *ngSwitchCase="'geography'">
      <app-geography-card></app-geography-card>
    </div>
    <div class="col-12" *ngSwitchCase="'grammar'">
      <app-grammar-card></app-grammar-card>
    </div>
    <div class="col-12" *ngSwitchCase="'history'">
      <app-history-card></app-history-card>
    </div>
    <div class="col-12" *ngSwitchCase="'image'">
      <app-image-card></app-image-card>
    </div>
    <div class="col-12" *ngSwitchCase="'math'">
      <app-math-card></app-math-card>
    </div>
    <div class="col-12" *ngSwitchCase="'movie'">
      <app-movie-card></app-movie-card>
    </div>
    <div class="col-12" *ngSwitchCase="'music'">
      <app-music-card></app-music-card>
    </div>
    <div class="col-12" *ngSwitchCase="'poetry'">
      <app-poetry-card></app-poetry-card>
    </div>

  </div>

</div>
