<div class="card" *ngIf="category">
  <div class="card-header {{ colorClass }} text-center">
    <h2>{{ title }}</h2>
  </div>
  <div class="card-body">
    <div>
      <div class="d-flex flex-row">
        <button type="button" class="col-8 btn btn-default btn-block btn-round pt-4 pb-1" (click)="onSelectLevel1()"
          [disabled]="questionLevel1status || !level1status"
          [ngClass]="(questionLevel1status || !level1status) ? 'notAllowed' : ''"
          [ngClass]="(round === allOfRound + 1) ? 'endOfGame' : ''">
          <h3>{{ huntextService.levelnames[0] }}</h3>
        </button>
        <div *ngIf="questionLevel1status === false && level1status === true"
          class="col-4 d-flex flex-column justify-content-center">
          <h4 class="text-center mb-0 rata">Szorzó</h4>
          <h4 class="text-center font-weight-bold">2x</h4>
        </div>
        <div
          *ngIf="questionLevel1status === true && level2status === true || questionLevel1status === true && level2status === false"
          class="col-4 d-flex flex-column justify-content-center">
          <h4 class="text-center mb-0" *ngIf="correctNumberLevel1 > 3"><i
              class="material-icons text-success">sentiment_satisfied_alt</i>
          </h4>
          <h4 class="text-center mb-0" *ngIf="correctNumberLevel1 <= 3"><i
              class="material-icons text-danger">sentiment_very_dissatisfied</i></h4>
          <h4 class="text-center font-weight-bold">5 / {{ correctNumberLevel1 }}</h4>
        </div>
        <div *ngIf="questionLevel1status === false && level1status === false"
          class="col-4 d-flex flex-column justify-content-center">
          <h4 class="text-center"><i class="material-icons">do_disturb</i></h4>
        </div>
      </div>
      <div class="d-flex flex-row">
        <button type="button" class="col-8 btn btn-default btn-block btn-round pt-4 pb-1" (click)="onSelectLevel2()"
          [disabled]="questionLevel2status || !level2status"
          [ngClass]="(questionLevel2status || !level2status) ? 'notAllowed' : ''"
          [ngClass]="(round === 11) ? 'endOfGame' : ''">
          <h3>{{ huntextService.levelnames[1] }}</h3>
        </button>
        <div *ngIf="questionLevel2status === false && level2status === true"
          class="col-4 d-flex flex-column justify-content-center">
          <h4 class="text-center mb-0 rata">Szorzó</h4>
          <h4 class="text-center font-weight-bold">3x</h4>
        </div>
        <div *ngIf="questionLevel2status === true && level2status === true"
          class="col-4 d-flex flex-column justify-content-center">
          <h4 class="text-center mb-0" *ngIf="correctNumberLevel2 > 3"><i
              class="material-icons text-success">sentiment_satisfied_alt</i>
          </h4>
          <h4 class="text-center mb-0" *ngIf="correctNumberLevel2 <= 3"><i
              class="material-icons text-danger">sentiment_very_dissatisfied</i></h4>
          <h4 class="text-center font-weight-bold">5 / {{ correctNumberLevel2 }}</h4>
        </div>
        <div *ngIf=" level2status === false" class="col-4 d-flex flex-column justify-content-center">
          <h4 class="text-center"><i class="material-icons">do_disturb</i></h4>
        </div>
      </div>
      <div class="d-flex flex-row">
        <button type="button" class="col-8 btn btn-default btn-block btn-round pt-4 pb-1" (click)="onSelectLevel3()"
          [disabled]="questionLevel3status || !level3status"
          [ngClass]="(questionLevel3status || !level3status) ? 'notAllowed' : ''"
          [ngClass]="(round === 11) ? 'endOfGame' : ''">
          <h3>{{ huntextService.levelnames[2] }}</h3>
        </button>
        <div *ngIf="questionLevel3status === false && level3status === true"
          class="col-4 d-flex flex-column justify-content-center">
          <h4 class="text-center mb-0 rata">Szorzó</h4>
          <h4 class="text-center font-weight-bold">5x</h4>
        </div>
        <div *ngIf="questionLevel3status === true && level2status === true"
          class="col-4 d-flex flex-column justify-content-center">
          <h4 class="text-center mb-0" *ngIf="correctNumberLevel3 > 3"><i
              class="material-icons text-success">sentiment_satisfied_alt</i>
          </h4>
          <h4 class="text-center mb-0" *ngIf="correctNumberLevel3 <= 3"><i
              class="material-icons text-danger">sentiment_very_dissatisfied</i></h4>
          <h4 class="text-center font-weight-bold">5 / {{ correctNumberLevel3 }}</h4>
        </div>
        <div *ngIf="level3status === false" class="col-4 d-flex flex-column justify-content-center">
          <h4 class="text-center"><i class="material-icons">do_disturb</i></h4>
        </div>
      </div>
    </div>
  </div>
</div>
