.card-header-grey  {
  background-image: linear-gradient(to right, rgb(121, 118, 118), rgb(88, 85, 85));
}

.card-header-blue {
  background-image: linear-gradient(to right, rgb(98, 111, 189), rgb(63, 81, 181));
}

.card-header-brown {
  background-image: linear-gradient(to right, rgb(156, 72, 72), rgb(143, 38, 38));
}

.card-header-yellow {
  background-image: linear-gradient(to right, rgb(216, 216, 85), rgb(214, 214, 34));
}

.card-header-orange {
  background-image: linear-gradient(to right, rgb(247, 113, 72), rgb(255, 87, 34));
}

.notAllowed {
  cursor: not-allowed;
}

.endOfGame {
  pointer-events: none;
}

.rata {

  @media screen and (max-width: 600px) {
    display: none;
  }
}

