<app-base-card [title]="title" [colorClass]="colorClass" [correctNumberLevel1]="correctNumberLevel1"
  [correctNumberLevel2]="correctNumberLevel2" [correctNumberLevel3]="correctNumberLevel3"
  [questionLevel1status]="questionLevel1status" [questionLevel2status]="questionLevel2status"
  [questionLevel3status]="questionLevel3status" [level1status]="level1status" [level2status]="level2status"
  [level3status]="level3status" (questionLevel1)="onSelectLevel1()" (questionLevel2)="onSelectLevel2()"
  (questionLevel3)="onSelectLevel3()"></app-base-card>
