.navbar {
  background-image: linear-gradient(to right, rgb(34, 165, 34), rgb(32, 255, 32));

  &-brand {
    font-weight: bold;
  }
}

.nav {

 &-item {
    font-weight: 300;
    font-size: 1.2rem;
  }

}

