<mat-toolbar class="mat-elevation-z8 sticky-top">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div class="sidebar" data-color="danger" data-background-color="white">
      <div class="logo">
        <a routerLink="/" class="simple-text logo-mini">
          QIUZ Game
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            (click)="(autoClose === true) ? close() : ''">
            <a class="nav-link" [routerLink]="['/']">
              <i class="material-icons">home</i>
              <p>Főoldal</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            (click)="(autoClose === true) ? close() : ''" [ngClass]="gameReady">
            <a class="nav-link" [routerLink]="['/gameboard']">
              <i class="material-icons">casino</i>
              <p>Játék</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            (click)="(autoClose === true) ? close() : ''">
            <a class="nav-link" (click)="onRestart()">
              <i class="material-icons">replay</i>
              <p>Új játék</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            (click)="(autoClose === true) ? close() : ''">
            <a class="nav-link" routerLink="/gamerules">
              <i class="material-icons">list_alt</i>
              <p>Játékszabály</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            (click)="(autoClose === true) ? close() : ''">
            <a class="nav-link" routerLink="/toplist">
              <i class="material-icons">emoji_events</i>
              <p>Toplista</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            (click)="(autoClose === true) ? close() : ''">
            <a class="nav-link" routerLink="/admin">
              <i class="material-icons">info</i>
              <p>Admin</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
