.nav-link {
  cursor: pointer;
}

mat-toolbar {
  justify-content: end;
  background-color: transparent;
  box-shadow: none;
}

mat-sidenav-container {
  z-index: 5;
}

ul.nav {
  li.disabled {
      cursor: not-allowed;

      a {
          pointer-events: none;
      }
  }
}
