<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
  <h1 class="text-center mb-5">Üdvözöllek a QIUZ GAME nevű játékban!</h1>
  <h2 class="text-center">Ha szeretnél játszani, akkor kattints az <span class="text-success homelink"
      (click)="onRestart()">Új
      játék</span>
    menüpontra és add meg a
    játékos nevedet, illetve azt, hogy milyen nehézségi szinten szeretnél játszani!</h2>
  <h2 class="text-center">Sok sikert!</h2>
  <h3 class="text-center">Ha még nem ismered ezt a játékot érdemes lehet először elolvasni a <span
      class="text-success homelink" routerLink="/gamerules">Játékszabályt</span>, amit a
    szintén a menüben érsz el!</h3>
  <div>
    <img src="../../../assets/img/quiz.png" alt="qiuz" class="col-8 offset-2">
  </div>
</div>
