<div *ngIf="!isLoading" class="game">
  <app-start *ngIf="startItem" [round]="round" [category]="category" [hunCategory]="hunCategory"
    [questionlevel]="questionlevel" [question]="question" [startScore]="startScore" [betSize]="betSize" [rata]="rata"
    [win]="win" [lose]="lose" [bonus]="bonus">
  </app-start>

  <app-question *ngIf="questionItem" [question]="question" [questionnumber]="questionnumber"></app-question>

  <app-quiz *ngIf="quizItem" [questionnumber]="questionnumber" [question]="question" [answers]="answers"
    [selectedAnswer]="selectedAnswer" [correctanswer]="correctanswer" (winOrNot)="winOrNot($event)">
  </app-quiz>

  <app-result *ngIf="endOfGame === true" [round]="round" [category]="category" [hunCategory]="hunCategory"
    [questionlevel]="questionlevel" [startScore]="startScore" [betSize]="betSize" [rata]="rata" [hunrata]="hunrata"
    [win]="win" [lose]="lose" [bonus]="bonus" [winNumberArray]="winNumberArray" [winNumber]="winNumber"></app-result>

</div>
